*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
/* maximum usest style */
h1{
    font-size:50px;
    font-family: 'Yeseva One', cursive;
}
h2{
    font-size:4px;
}
h3{
    font-size:24px;
}
p{
    font-size:16px;
    margin:20px 0;
}
a{
    text-decoration:none;
}
.ht-oolor{
    color:#FFAD5A;
}
.flex-box{
    display: flex;
    justify-content: space-evenly;
}
.width-2{
    flex-basis: 40%;
}
.btn{
    background-color: #FF5959;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
}
img{
    width: 100%;
}

/* Header section style */
.heading-section{
    padding: 50px;
}
.heading-section h1{
    border-left: 3px solid #FF5959;
    padding-left: 15px;
}
